*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 81.25%;
}
header{
    display: flex;
    justify-content: flex-end;
    height: 48px;
    padding: 8px;
    font-family: Roboto,Arial,sans-serif;
}
.Gmail{
    margin-right: 20px;
    color: rgba(0,0,0,.87);
    text-decoration: none;
}
a.Gmail:hover{
    text-decoration: underline;
}
.Imagenes{
    margin-right: 30px;
    color: rgba(0,0,0,.87);
    text-decoration: none;
}
a.Imagenes:hover{
    text-decoration: underline;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 300px;
}
.cont{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 200px;
    width: 272px;
    margin-bottom: 38px;
}
.logo{
    height: 92px;
    width: 272px;
}
.Buscador{
    display: flex; 
    align-items: center; 
    background-color: #fffffd;
    padding: 10px;
    width: auto;
    width: 561px;
    height: 44px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    margin-bottom: 16px;
}
form{
    display: flex ;
    align-items: center;
    width: 100%;
}
.lupa{
    padding-right: 10px;
}
.iconos{
    width: 80px;
    display: flex;
    justify-content: space-between;
}
input[type="text"] {
    height: 44px;
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    color: var(--color-realbox-foreground);

    
}
.icono{
    width: 24px;
    height: 24px;

}
section{
    width: 577px;
    height: 228px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor{
    display: grid;
    grid-template-columns:  112px 112px 112px 112px 112px;
    grid-template-rows: 112px 112px;
}
.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-top: 16px;
    border-radius: 50%;
    background-color: rgba(241, 243, 244, 1.00);
}
p{
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}
a{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Atajos{
    text-decoration: none;
    color: #000;
}
.texto{
    height: 36px;
    width: 104px;
    margin-top: 6px;
}
.Atajos:hover{
    background-color: #f0ecec;
}
footer{
    height: 100px;
    width: 100%;
}
.xd{
    height: 100%;
}